In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
# 파이썬에서 ANSI로 읽으니까 한글이 깨짐.

# 경로의 파일명들 가져오기
data = os.listdir('./의료인력')
# 인코딩 변경하기  ANSI -> utf-8-sig
for path in data:
    df = pd.read_csv('./의료인력/'+path, encoding='ANSI')
    df.to_csv('./의료인력/'+path[:-4]+'.csv', encoding='utf-8-sig', index=False)


# 경로의 파일명들 가져오기
data = os.listdir('./지역별종별의료시설')
# 인코딩 변경하기  xls -> csv+utf-8-sig
for path in data:
    df= pd.read_excel('./지역별종별의료시설/'+path)
    df.to_csv('./지역별종별의료시설/'+path[:-4]+'.csv', encoding='utf-8-sig', index=False)

UnicodeDecodeError: 'mbcs' codec can't decode byte 0xec in position 6: No mapping for the Unicode character exists in the target code page.

In [3]:
#csv파일 불러오기
df =  pd.read_csv( './기관/공공의료기관_기능별_기관_수_2015-2019.csv' )

#csv파일에 있는 연도들 추출
year= df.columns# 파이썬에서 ANSI로 읽으니까 한글이 깨짐.

# 경로의 파일명들 가져오기
data = os.listdir('./의료인력')
# 인코딩 변경하기  ANSI -> utf-8-sig
for path in data:
    df = pd.read_csv('./의료인력/'+path, encoding='ANSI')
    df.to_csv('./의료인력/'+path[:-4]+'.csv', encoding='utf-8-sig', index=False)


# 경로의 파일명들 가져오기
data = os.listdir('./지역별종별의료시설')
# 인코딩 변경하기  xls -> csv+utf-8-sig
for path in data:
    df= pd.read_excel('./지역별종별의료시설/'+path)
    df.to_csv('./지역별종별의료시설/'+path[:-4]+'.csv', encoding='utf-8-sig', index=False)

# 단위 삭제
df = df.drop(df.index[1])

#데이터에 있는 연도들
years = pd.DataFrame(year[(~year.str.contains('\.'))]).drop(0)

# 순서에 맞는 도시명 추출
city=df.filter(regex='시도').drop(df.index[0])

#빈 데이터프레임 생성
postDf = pd.DataFrame

flag = True
# 가로로 생성되있는 값 변경!
for year in pd.DataFrame(year[(~year.str.contains('\.'))]).drop(0)[0]:
    temp = df.filter(regex= year)
    temp['year'] = year
    temp['year'][0] = '연도'
    temp.columns = temp.iloc[0]
    temp = temp.drop(temp.index[0])
    temp['시도'] = city
    if flag:
        postDf =temp.copy()        
        flag = False
    else :
        postDf = postDf.append(temp)

postDf = postDf.drop(['총계'] ,axis =1) 
postDf = postDf[postDf.columns[-2:].to_list()+postDf.columns[:-2].to_list()]



postDf.to_csv('./기관/Post_공공의료기관_기능별_기관_수_2015-2019.csv', encoding='utf-8-sig', index=False)
postDf

<ipython-input-3-7b1a458f9dfa>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['year'] = year
C:\Users\painc\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

,연도,시도,일반진료중심(광역 이상),일반진료중심(광역 이상),일반진료중심(광역 이상),일반진료중심(광역 이상),일반진료중심(단일 혹은 복수 기초자치단체),일반진료중심(단일 혹은 복수 기초자치단체),일반진료중심(단일 혹은 복수 기초자치단체),일반진료중심(단일 혹은 복수 기초자치단체),...,특수대상중심,특수대상중심,특수질환중심,특수질환중심,특수질환중심,특수질환중심,노인병원,노인병원,노인병원,노인병원
2,2015,전국,17,100,17,100,43,100,43,100,...,36,100,38,100,38,100,78,100,78,100
3,2015,서울,2,11.8,2,11.8,5,11.6,5,11.6,...,3,8.3,8,21.1,8,21.1,3,3.8,3,3.8
4,2015,부산,1,5.9,1,5.9,1,2.3,1,2.3,...,2,5.6,2,5.3,2,5.3,4,5.1,4,5.1
5,2015,대구,2,11.8,2,11.8,1,2.3,1,2.3,...,2,5.6,1,2.6,1,2.6,2,2.6,2,2.6
6,2015,인천,0,0,0,0,3,7,3,7,...,1,2.8,1,2.6,1,2.6,2,2.6,2,2.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,2019,전북,1,5.9,1,5.9,3,6.5,3,6.5,...,0,0,2,5.1,2,5.1,6,7.2,6,7.2
16,2019,전남,1,5.9,1,5.9,3,6.5,3,6.5,...,2,5.6,3,7.7,3,7.7,13,15.7,13,15.7
17,2019,경북,0,0,0,0,6,13,6,13,...,2,5.6,0,0,0,0,16,19.3,16,19.3
18,2019,경남,3,17.6,3,17.6,3,6.5,3,6.5,...,2,5.6,5,12.8,5,12.8,9,10.8,9,10.8
19,2019,제주,1,5.9,1,5.9,2,4.3,2,4.3,...,0,0,1,2.6,1,2.6,1,1.2,1,1.2

In [103]:
path = './보건복지소운영현황/'
fileName = '보건지소_및_보건진료소_인력현황시도별_2001_2011_Kosis.csv'
df =  pd.read_csv(path+fileName,encoding='utf-8-sig')
for i in df.columns:
    df[i] = df[i].apply(lambda x : 0  if x == '-' else x)

#csv파일에 있는 연도들 추출
year= df.columns

#데이터에 있는 연도들
years = pd.DataFrame(year[(~year.str.contains('\.'))]).drop(0)

# 순서에 맞는 도시명 추출
city=df.filter(regex='시도').drop(df.index[0])
city.iloc[0] = '전국'

flag = True

#빈 데이터프레임 생성
postDf = pd.DataFrame


for year in pd.DataFrame(year[(~year.str.contains('\.'))]).drop(0)[0]:
    temp = df.filter(regex= year)
    temp['year'] = year
    temp['year'][0] = '연도'
    temp.columns = temp.iloc[0]
    # temp = temp.drop(temp.index[0:2])
    temp['시도'] = city    
    # postDf = temp
    # print(temp)
    if flag:
        postDf =temp.copy()        
        flag = False
    else :
        postDf = postDf.append(temp)

# postDf = postDf.drop(['합계'] ,axis =1) 
postDf = postDf[postDf.columns[-3:].to_list()+postDf.columns[:-3].to_list()]
# 사유를 조금 더 알아봐야겠지만, 인덱스로 추정되는 칼럼(위에서 지운것 같지만) 안 지워져있음.
postDf = postDf.drop(postDf.index[0])
# nan 값은 0으로 치환
postDf = postDf.fillna(0)
postDf.to_csv(path + 'Post_'+fileName, encoding='utf-8-sig', index=False)
postDf

<ipython-input-103-c29557483085>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['year'] = year
C:\Users\painc\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
<ipython-input-103-c29557483085>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['시도'] = city

,연도,시도,한의사-공중보건의,총계,의사 소계,의사-소장,의사-소장외,의사-전문직,의사-공중보건의,치과의사-일반,...,간호사-보건진료소,영양사,의료기사-방사선사,의료기사-임상병리사,의료기사-치과위생사,의료기사-물리치료사,간호조무사,행정직,보건직,기능직등
1,2001,전국,0,7160,1293,5,2,5,1281,1,...,1815,2,24,36,689,54,2028,5,74,47
2,2001,서울,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2001,부산,0,38,9,2,1,1,5,0,...,6,0,1,1,1,0,4,0,2,3
4,2001,대구,0,40,8,0,0,0,8,0,...,9,0,0,0,2,0,17,0,0,0
5,2001,인천,0,116,30,0,0,0,30,0,...,25,0,0,0,6,0,13,1,22,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,2011,전북,65,815,154,1,0,0,153,0,...,233,2,0,0,52,11,191,0,7,3
14,2011,전남,132,1244,231,0,0,0,231,1,...,328,2,5,15,92,15,173,1,41,7
15,2011,경북,87,1133,224,0,1,0,223,0,...,305,5,3,8,81,13,239,2,32,3
16,2011,경남,84,862,181,1,0,2,178,0,...,212,1,10,7,57,15,110,1,51,7
17,2011,제주,10,96,12,0,0,0,12,0,...,45,0,1,1,1,4,8,0,1,1

In [137]:
# 사망자수!
path = './사망자수/'
fileName = '사망원인_성_시도별_사망자수_1983_2019.csv'
df =  pd.read_csv(path+fileName,encoding='utf-8-sig')

df = df.drop(['항목'],axis = 1)
df = df.drop(['단위'],axis = 1)
# df = df[(df.성별 != '계')]
df = df[df != '계']
df

# #csv파일에 있는 연도들 추출
# year= df.columns

# #데이터에 있는 연도들
# years = pd.DataFrame(year[(~year.str.contains('\.'))]).drop(0)

# # 순서에 맞는 도시명 추출
# city=df.filter(regex='시도').drop(df.index[0])
# city.iloc[0] = '전국'

# flag = True

# #빈 데이터프레임 생성
# postDf = pd.DataFrame


# for year in pd.DataFrame(year[(~year.str.contains('\.'))]).drop(0)[0]:
#     temp = df.filter(regex= year)
#     temp['year'] = year
#     temp['year'][0] = '연도'
#     temp.columns = temp.iloc[0]
#     # temp = temp.drop(temp.index[0:2])
#     temp['시도'] = city    
#     # postDf = temp
#     # print(temp)
#     if flag:
#         postDf =temp.copy()        
#         flag = False
#     else :
#         postDf = postDf.append(temp)

# # postDf = postDf.drop(['합계'] ,axis =1) 
# postDf = postDf[postDf.columns[-3:].to_list()+postDf.columns[:-3].to_list()]
# # 사유를 조금 더 알아봐야겠지만, 인덱스로 추정되는 칼럼(위에서 지운것 같지만) 안 지워져있음.
# postDf = postDf.drop(postDf.index[0])
# # nan 값은 0으로 치환
# postDf = postDf.fillna(0)
# postDf.to_csv(path + 'Post_'+fileName, encoding='utf-8-sig', index=False)
# postDf

,사망원인별,성별,시도별,1983 년,1984 년,1985 년,1986 년,1987 년,1988 년,1989 년,...,2010 년,2011 년,2012 년,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년
0,NaN,NaN,전국,254563.0,236445.0,240418.0,239256.0,243504.0,235779.0,236818.0,...,255405.0,257396.0,267221,266257,267692,275895,280827,285534,298820,295110
1,NaN,NaN,서울특별시,33422.0,32932.0,34927.0,34772.0,35654.0,36323.0,37413.0,...,40130.0,40320.0,41514,42063,42153,43053,43540,42932,45219,43829
2,NaN,NaN,부산광역시,14788.0,14516.0,15088.0,14780.0,15242.0,15400.0,16456.0,...,19708.0,19643.0,20534,20096,20230,20820,21074,21434,22570,22260
3,NaN,NaN,대구광역시,8479.0,8265.0,8585.0,8860.0,9059.0,9120.0,9213.0,...,12054.0,12355.0,12352,12531,12642,13081,13502,13629,14070,13752
4,NaN,NaN,인천광역시,5187.0,5388.0,5461.0,5945.0,5921.0,6138.0,6438.0,...,12087.0,12504.0,12881,13039,13409,13452,14119,14290,15316,15131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,질병이환 및 사망의 외인 (V01-Y89),여자,전라북도,293.0,249.0,298.0,278.0,308.0,313.0,333.0,...,559.0,495.0,468,535,466,404,438,458,401,377
1076,질병이환 및 사망의 외인 (V01-Y89),여자,전라남도,470.0,507.0,506.0,374.0,446.0,432.0,479.0,...,650.0,618.0,621,626,587,582,515,499,456,392
1077,질병이환 및 사망의 외인 (V01-Y89),여자,경상북도,429.0,434.0,453.0,453.0,491.0,526.0,594.0,...,794.0,724.0,712,696,665,601,672,570,583,577
1078,질병이환 및 사망의 외인 (V01-Y89),여자,경상남도,731.0,678.0,740.0,703.0,812.0,727.0,810.0,...,750.0,734.0,718,685,663,669,615,578,700,575
1079,질병이환 및 사망의 외인 (V01-Y89),여자,제주도,82.0,57.0,59.0,60.0,94.0,76.0,83.0,...,146.0,162.0,140,161,131,149,138,137,111,124